@media screen and (min-width: 480px) {
  .move-left {
    animation: move-left 300ms ease-out forwards;
  }

  @keyframes move-left {
    from {
      transform: translateX(0); /* start at current position */
    }
    to {
      transform: translateX(-43%); /* move off-screen at bottom */
    }
  }

  .move-right {
    animation: move-right 300ms ease-out forwards;
  }

  @keyframes move-right {
    from {
      transform: translateX(-43%); /* start at current position */
    }
    to {
      transform: translateX(0); /* move off-screen at bottom */
    }
  }
}
