<div class="w-full h-full p-2 sm:p-4">
  @if(onTaskOpen()){
  <app-task-details (close)="closeTaskDetail()" [task]="onTaskOpen()"></app-task-details>
  }
  <div class="flex items-center justify-between mb-4">
    <div class="flex items-center text-xl sm:text-2xl font-bold text-gray-800">
      <p>Today's Tasks</p>
      <span class="flex items-center pl-1 text-base text-gray-500">({{ tasks().length }})</span>
      @if(searchData()){
      <span class="pl-3 text-base">Search: "{{ searchData() }}"</span>
      }
    </div>
    <div
      class="flex gap-1 items-center bg-white/50 cursor-pointer select-none shadow-lg hover:shadow-gray-300 hover:shadow-lg px-2 py-1 rounded-lg"
      (click)="onSortDateChange()"
    >
      <button class="flex items-center">
        <mat-icon>sort</mat-icon>
      </button>
      <p>Date Sort: @if(sortDate() === null){ Off } @else if (!sortDate()) { Dsc } @else { Asc }</p>
    </div>
  </div>

  <div class="grid gap-4 sm:gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
    @for (task of sortedTasks(); track task.id){
    <div
      class="relative bg-white rounded-xl shadow border border-gray-200 p-5 flex flex-col justify-between min-h-[220px] sm:min-h-[260px] hover:shadow-md transition"
    >
      <!-- Top Row: Checkbox + Task Name + Category -->
      <div class="flex items-start justify-between mb-2">
        <div class="flex w-full items-center gap-2 sm:gap-3">
          <input
            type="checkbox"
            class="accent-sky-500 w-3 h-4 sm:w-5 sm:h-5 rounded focus:ring-2 focus:ring-sky-300 transition"
            checked
            aria-label="Mark as completed"
          />
          <span
            (click)="this.onTaskOpen.set(task)"
            class="font-semibold cursor-pointer text-base sm:text-lg text-gray-900 truncate"
            >{{ task.name }}</span
          >
        </div>
        <span
          class="px-2 -top-2 cursor-pointer right-3 absolute py-0.5 sm:px-3 sm:py-1 rounded-full bg-gradient-to-br from-[#58bdf2] to-[#8cb4f6] text-white text-xs font-semibold ml-2"
          >{{ task.category }}</span
        >
      </div>
      <!-- Description -->
      <p class="text-xs text-justify truncate sm:text-sm text-gray-600 mb-2 line-clamp-3">
        {{ task.description }}
      </p>
      <div class="flex items-center">
        <span
          class="flex items-center bg-gradient-to-r from-[#acaff914] to-[#c294ff10] text-gray-500/60 px-2 py-1 rounded text-xs font-mono whitespace-nowrap"
        >
          {{ task.date ? (task.date | date : 'dd-MM-yyyy') : 'No Due Date' }}
        </span>
      </div>
      <!-- Breaker Line -->
      <hr class="border-gray-400 border-dashed" />
      <!-- Bottom Row: Date, Status, Star & Delete -->
      <div class="flex flex-wrap">
        <div class="flex flex-1 items-center gap-2 sm:gap-3">
          <span
            class="rounded px-2 py-1 text-xs font-medium"
            [ngClass]="{
              'bg-green-50 text-green-700': task.completed,
              'bg-red-50 text-red-700': !task.completed
            }"
          >
            @if (task.completed) {
            <span>Completed</span>
            } @else {
            <span>Incompleted</span>
            }
          </span>

          <div class="flex flex-1 items-center justify-end w-full">
            <button
              class="rounded-full hover:text-[#6bbbf3] text-[#6bbaf394] transition"
              [attr.aria-label]="task.important ? 'Mark as not important' : 'Mark as important'"
            >
              <mat-icon class="text-base sm:text-lg">
                {{ task.important ? 'star' : 'star_outline' }}
              </mat-icon>
            </button>

            <button
              class="rounded-full hover:text-red-200 text-red-400 transition"
              aria-label="Delete task"
            >
              <mat-icon class="text-base sm:text-lg">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    }
  </div>
</div>
